<style>
	span {
		display: block;
	}
</style>
<h1>Profile Page</h1>
<span>Username:</span>
<span><%= user.username %></span>

<span>Email:</span>
<span><%= user.email %></span>

<span>Questions Posted:</span>
<span><%= user.questions.length %></span>

<span>Answers Posted:</span>
<span><%= user.answers.length %></span>
