<style>
	input{
		display: block;
	}
</style>
<form action="/user" method="POST">
	<input type="text" name="username" placeholder="Username">
	<input type="text" name="email" placeholder="Email">
	<input type="text" name="emailCheck" placeholder="Re-enter Email">
	<input type="text" name="password" placeholder="Password">
	<input type="text" name="passwordCheck" placeholder="Re-enter Password">
	<button type="submit">Sign Up!</button>
</form>
